</div>
<div class="bottom-container">
    <a class="footer-link" href="">LinkedIn</a>
    <a class="footer-link" href="">Twitter</a>
    <a class="footer-link" href="">Email</a>
    <a class="footer-link" href="">Help</a>
    <section>
        <h2 class="title">FAQs</h2>
        
        <div class="faq">
            <div class="question">
                <h3>how to use</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="info">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dolor eu risus pharetra euismod ac quis eros. Cras ornare nisi enim, sit amet tempor nisi tincidunt quis. Aenean dignissim, sem viverra aliquet consequat, velit turpis maximus quam, non pellentesque nunc ipsum quis magna. Vivamus viverra tristique lectus quis maximus.
                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>about</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="info">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dolor eu risus pharetra euismod ac quis eros. Cras ornare nisi enim, sit amet tempor nisi tincidunt quis. Aenean dignissim, sem viverra aliquet consequat, velit turpis maximus quam, non pellentesque nunc ipsum quis magna. Vivamus viverra tristique lectus quis maximus.
                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>policy</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                </svg>

            </div>
            <div class="info">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget dolor eu risus pharetra euismod ac quis eros. Cras ornare nisi enim, sit amet tempor nisi tincidunt quis. Aenean dignissim, sem viverra aliquet consequat, velit turpis maximus quam, non pellentesque nunc ipsum quis magna. Vivamus viverra tristique lectus quis maximus.
                </p>
            </div>
        </div>

    </section>
</div>
<script>
    
const faqs = document.querySelectorAll(".faq");

faqs.forEach(faq => {
    faq.addEventListener("click", () => {
        faq.classList.toggle("active");
    });
});
</script>
</body>
</html>