<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>borrowEase</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Merriweather&family=Montserrat+Alternates:wght@300;400&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <script src="../routes/auth.js"></script>
</head>
<body>
    <div class="top-container">
        <div class="top-line">
            <img class="company-logo" src="images/borrowEase-logo.png" alt="company logo">
            <a class="credit-score" href="">Credit Score</a>
            <a class="login" href="/login">Login</a>

        </div>
        <div class="top-content">
            <h1 id="slogan">The Best Money Under <br> One Roof</h1>
            <p id="below-slogan">peer to peer lending with borrowEase</p>
            <a class="btn" href="">terms and conditions</a>
        </div>
    </div>
    <div class="middle-container">