<%- include("header") -%>

<div class="demand">
  <div class="demand-header">
    <!--<img src="profile-picture.jpg" alt="Profile Picture">-->
    <h3>User Name</h3>
    <span class="time">Date and Time</span>
  </div>
  <div class="demand-body">
    <p>I demand this much of money</p>
    <img src="/public/images/favicon.ico" alt="BorrowEase Image">
  </div>
  <div class="demand-footer">
    <a href="#" class="reply-link">Reply</a>
    <a href="#" class="like-link">Pay</a>
  </div>
</div>


<%- include("footer") -%>
