<%- include("partials/header") -%>
<div class="demandPost">
    <div class="demand">
        <div class="demand-header">
          <!--<img src="profile-picture.jpg" alt="Profile Picture">-->
          <h3>Gitesh</h3>
          <span class="time">12:49 </span>
        </div>
        <div class="demand-body">
          <p>I demand this much of money</p>
          <img src="images/favicon.ico" alt="BorrowEase Image">
        </div>
        <div class="demand-footer">
          <a href="#" class="reply-link">reply</a>
          <a href="/payment" class="pay-link">Pay</a>
        </div>
      </div>
</div>



<%- include("partials/footer") -%>
