<%- include("partials/header") -%>
<%  newDemands.forEach(function(demand){ %>
<div class="demandPost">
    <div class="demand">
        <div class="demand-header">
          <!--<img src="profile-picture.jpg" alt="Profile Picture">-->
          <h3><%=demand.userDetails.userName%></h3>
          <span class="time">Time</span>
        </div>
        <div class="demand-body">
          <p>I want <%=demand.amount%> Rupees</p>
          <img src="images/favicon.ico" alt="BorrowEase Image">
        </div>
        <div class="demand-footer">
          <a href="#" class="reply-link">reply</a>
          <a href="/payment" class="pay-link">Pay</a>
        </div>
      </div>
</div>
<%  }) %>
<div>
    <a href="/createDemand" class="create-Demand">Demand money</a>
</div>

<%- include("partials/footer") -%>