<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Payment Gateway</title>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Payment Gateway</h1>
      <form action="#" method="post">
        <div class="form-group">
          <label for="card-number">Card Number:</label>
          <input type="text" id="card-number" name="card-number">
        </div>
        <div class="form-group">
          <label for="card-name">Cardholder Name:</label>
          <input type="text" id="card-name" name="card-name">
        </div>
        <div class="form-group">
          <label for="expiration-date">Expiration Date:</label>
          <input type="text" id="expiration-date" name="expiration-date">
        </div>
        <div class="form-group">
          <label for="security-code">Security Code:</label>
          <input type="text" id="security-code" name="security-code">
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="text" id="amount" name="amount" value="<%=amount%>" readonly>
        </div>
        </div>
       <input class="button-p" type="button" onclick="location.href='/paymentSuccessful';" value="Pay Now" /> 
      </form>
    </div>
  </body>
</html>
