.top-container {
    background-color: black;
    margin: -10px -8px 0 -8px;
}

.top-line {
    height: 145px;
    padding: 40px 20px 0 20px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.top-content {
   background-color:black;
   height: 600px;
   padding-top: 50px;
   text-align: center;
}
#slogan {
    text-align: center;
    font-size: 72px;
    color: white;
    font-family:sans-serif;
    line-height: 100px;
    background-image: url("https://media3.giphy.com/media/2SYpZ92iLQsF6QZl5u/200w.webp?cid=ecf05e472ocffa2ihmlw5qxf4rjehr1t3xypxoa80wlcqrcz&rid=200w.webp&ct=g");
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#below-slogan{
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 0;
    margin-top: 50px;
    margin-bottom: 125px;
}
 
.company-logo {
    height: 100%;
    position: relative;
    left: 5%;
    margin-right: 850px;
}

.register {
    position: relative;
    bottom: 50%;
}

.credit-score {
  position: relative;
  bottom: 50%;
}

.login {
    position: relative;
    bottom: 50%;
}

.logout
{
  position: relative;
  bottom: 50%;
}

.middle-container {
    height: 900px;
}

.Body{
  position: absolute;
  padding: 0 2px 200px 0;
  margin: 0 3px -3px -10px;
  width:100%;
  height:100%;
  background-color: #212529;
}

.bottom-container {
    background-color: #050505;
    color: #fff;
    height: auto;
    padding: 50px 0 20px;
    margin: 0 -8px -10px -8px;
    text-align: center;
}

.footer-link {
    margin: 20px 20px 100px;
}

.title {
    margin-top: 100px;
}

section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
}

.title {
    font-size: 3rem;
    margin: 2rem 0rem;

}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.8rem;
}

.info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.info p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .info {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transform: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px 20px;

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none;
          background-color: #7065EF; }
a:active { text-decoration: none; }

.btn {
    -webkit-border-radius: 24;
    -moz-border-radius: 24;
    border-radius: 24px;
    font-family: Georgia;
    color: #000000;
    font-size: 30px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #7065EF;
    text-decoration: none;
  }

/* for demandPost*/
  .demand {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    width: auto;
    align-self: center;
    
  }
  
  .demand-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .demand-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .demand-header h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .demand-header .time {
    font-size: 14px;
    color: #777;
    margin-left: auto;
  }
  
  .demand-body p {
    font-size: 16px;
    margin: 0 0 10px;
  }
  
  .demand-body img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .demand-footer {
    display: flex;
  }
  
  .demand-footer a {
    display: inline-block;
    font-size: 14px;
    color: #777;
    margin-right: 10px;
  }
  
  .demand-footer a:hover {
    color: #1da1f2;
  }
  
  .demandPost {
    align-content: center;
  }

  /* for payment gateway*/
  body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
  }
  
  .button-p[type="button"] {
    padding: 10px;
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .button-p[type="button"]:hover {
    background-color: #0c8de3;
  }
  
/* for paymentSuccessful */
 .body-ps {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .button-ps {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1da1f2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0c8de3;
  }
  

  /* for createDemand */

  .form-cD {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-self: center;
  }
  
  .label-cd {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .input-cD[type="range"] {
    width: 100%;
  }
  
  #amount-value {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  textarea {
    resize: none;
  }
  

  .btn-cD {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
.create-Demand {
    background-color: #0007d9;
    color: #ccc;
    position: fixed;
    bottom: 30px;
    right: 45px;
    border-radius: 30px;

}

.create-Demand:hover {
    color: #0007d9;
    background-color: #ccc;
    border-color: #e8ebef;
  }

  /*body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #050505;
  }*/
  .Box1 {
    position: absolute;
    left: 10%;
    top: 10%;
  }
  .Box2 {
    position: absolute;
    left: 30%;
    top: 55%;
  }

  .box {
    position: absolute;
    border-radius: 20px;
    transform-style: preserve-3d;
  }

  .box .card {
    position: relative;
    background: rgba(225,225,225,0.5);
    width: 300px;
    min-height: 300px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(225,225,225,0.5);
    border-top: 1px solid rgba(225,225,225,0.75);
    border-left: 1px solid rgba(225,225,225,0.75);
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.05);
    transform-style: preserve-3d;
  }

  .elements {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100px;
    height: 100px;
    background: rgba(225,225,225,0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(225,225,225,0.5);
    border-top: 1px solid rgba(225,225,225,0.75);
    border-left: 1px solid rgba(225,225,225,0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.05);
  }

  .elements.bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url();
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;
  }

  .box:hover.elements.bg::before {
    opacity: 1;
  }

  .elements.name {
    top: 135px;
    left: initial;
    right: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
    transform: translateZ(180px);
    background: transparent;
    backdrop-filter: blur(0px);
    border: none;
    box-shadow: none;
    color: #007bff;
    transition: 0.5s;
    transition-delay: 0.25s;
  }

  .btn:hover .elements.name {
    top: 35px;
    opacity: 1;
  }

  .elements.content {
    top: initial;
    left: initial;
    bottom: 0;
    right: -20px;
    width: 85%;
    min-height: 200px;
    padding: 10px;
    transform: translateZ(180px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .elements.content p {
    position: relative;
    color: ;
    font-size: 0.85em;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.5s;
  }

  .box:hover .elements.content p {
    opacity: 1;
  }

  .cube {
    position: absolute;
    left: 70%;
    top: 30%;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
}
  @keyframes animate{
    0%
    {
      transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

  }
  .cube div span
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#7065EF);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  }

  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
  }

  .cube-logo {
    position: relative;
    left: 0%;
    top: 22%;
    height: 172px;
  }

  .top::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #7065EF;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(127,17,224,0.2),
    0 0 200px rgba(127,17,224,0.4),
    0 0 300px rgba(127,17,224,0.6),
    0 0 400px rgba(127,17,224,0.8),
    0 0 500px rgba(127,17,224,1);
  }